{{top-level-nav}}
<div class="form-container mia-main">

    {{#if done}}
        <p>
            If you have an account with us you'll receive a password reset email shortly.
        </p>
    {{else}}
        <h1>Reset Your Password</h1>

        <form {{action 'submit' email on='submit'}} class='sign-in'>

        {{mia-input error=error}}

        {{#mia-input}}
        {{input type='text' placeholder='email' value=email name='email'}}
        {{/mia-input}}

        <input type="submit" value="Submit" />
        </form>
    {{/if}}
</div>
